<ol class="post-list">
{% for post in posts %}
  <li>
    <time datetime="{{ post.date | htmlDate }}">{{ post.date | readableDate }}</time>
    <div>
      <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
      <div class="post-meta">{% for tag in post.data.tags %}<a class="tag tag-{{ tag | slug }}" href="/tags/#{{ tag | slug }}">{{ tag }}</a>{% endfor %}</div>
    </div>
    <span class="arrow" aria-hidden="true">↗</span>
  </li>
{% endfor %}
</ol>
